<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><div id="logo"></div></a>
    </div>

    <div class="navbar-collapse collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">      
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/infobank">InfoBank</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contactus">Contact Us</a></li>
      </ul>
    </div>
  </div> 
</nav>     


  <div id="headimage4"></div>
    
    <div class="container">
      <div class="bodyp">
        <h1 id="bodyh1"> About </h1>
        <hr>
        <div id="maintext">
            <div class="img-circle"></div>
        </div> 

        <p>Jaime Goldfarb, Ph.D., the principal of GEC, has extensive experience in working with educators to design, develop and implement effective educational assessment programs.  He brings to bear: 
        </p>
        <p>
          <ul>
            <li>Broad experience in best educational practice, spanning curriculum, assessment, and intervention;</li>
            <li>Real world demonstration of improved student outcomes; and</li>
            <li>Experience building educational workgroups through effective tools, process, and resources.</li>
          </ul>
        </p>
        <p>
          In his years in the education field, he as worked with over 500 districts nationally in support of those efforts.  The focus has always been on evaluating, planning, and implementing assessment plans that are integrated into instruction, so that in the end, educators are using information to inform instruction. 
        </p>
        <p id="aboutp">
          Dr. Goldfarb has also worked with a number of private organizations to provide insight into the products and services that will be of the highest educational value to district partners.  These partners have included curriculum developers, providers of professional development, and assessment platform providers.  He also successfully launched and led Intel-Assess, one of the premier providers of instructionally sound assessment content in the industry. 
        </p>
      </div>	 	
    </div>

    
<footer>
  <div class="container" id="footer">
    <hr>
    <a href="https://www.linkedin.com/m/profile/ACoAAACr6vABoLLCwRzrsx7Jk0wqT2pZGCzdyQ4/">
      <div id="linkedin"></div>
    </a>
    <p>(e) info@goldfarbedconsult.com</p>
  </div>
</footer>
