<div id="headimage5"></div>

<div class="bodytext">
  <h1 id="bodyh1">Schedule a Consultation</h1>
  <hr>
  <br>
  <p>If you would like a consult please send a quick note to <a href="mailto:info@goldfarbedconsult.com">info@goldfarbedconsult.com</a>. Please include your name, education affiliation, brief description of your area(s) of interest, and contact information, and we will be in touch shortly.</p>
  <br>
  <div id="contactinfo">
    <!-- <div id="address"> -->
      <h2 id="contacttitle">Goldfarb Educational Consulting</h2>
      <h4 id="contacttitle">Email: info@goldfarbedconsult.com</h4>
      <h4 id="contacttitle">Telephone: (855) 368-4763</h4>
      <h4 id="contacttitle">Address: 925 Catalina Ave., Seal Beach CA, 90740</h4>
    <!-- </div> -->
  </div>
</div>

<footer>
  <div class="container" id="footer">
    <hr>
    <a href="https://www.linkedin.com/m/profile/ACoAAACr6vABoLLCwRzrsx7Jk0wqT2pZGCzdyQ4/">
      <div id="linkedin"></div>
    </a>
    <p>(e) info@goldfarbedconsult.com</p>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79430003-1', 'auto');
  ga('send', 'pageview');

</script>