<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><div id="logo"></div></a>
    </div>

    <div class="navbar-collapse collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">      
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/infobank">InfoBank</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contactus">Contact Us</a></li>
      </ul>
    </div>
  </div> 
</nav>     
   
    <div id="headimage5">
    </div>

    <div class="container" id="contactcontainer">
     <!--  <div class="bodyp"> -->
        <h1 id="bodyh1"> Interested in a Consultation? </h1>
        <hr>
        
        <div class="contactform">
          <form action="MAILTO:jgoldfarb@goldfarbedconsult.com" method="post" enctype="text/plain">
          Name<br>
          <input id="inputfield" type="text" name="name" value=""><br>
          Your E-mail<br>
          <input id="inputfield" type="text" name="mail" value=""><br>
          Message<br>
          <textarea rows="4" cols="28" placeholder=""></textarea><br><br>
          <!-- <input id="inputfield2" type="text" name="comment" value=""><br><br> -->
          <button class="btn btn-primary" type="submit" value="Send">Send</button>
          </form>

       </div>
    </div>    

    <div id="contactinfo">
      <h1 id="bodyh1">Contact Information</h1>
      <hr>
        <container id="address">
          <h2 id="contacttitle">Goldfarb Educational Consulting</h2>
          <h4 id="contacttitle">Email: info@goldfarbedconsult.com</h4>
          <h4 id="contacttitle">Telephone: (855) 368-4763</h4>
          <h4 id="contacttitle">Address: 925 Catalina Ave. <br>
          Seal Beach CA, 90740</h4>
        </container>
    </div>

<footer>
  <div class="container" id="footer">
    <hr>
    <a href="https://www.linkedin.com/m/profile/ACoAAACr6vABoLLCwRzrsx7Jk0wqT2pZGCzdyQ4/">
      <div id="linkedin"></div>
    </a>
    <p>(e) info@goldfarbedconsult.com</p>
  </div>
</footer>

