<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="home.html"><img src="images/editedlogo.png" id="logo" height="75px" width="300px"></a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">      
            <li><a href="home.html">Home</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="infobank.html">InfoBank</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contactus.html">Contact Us</a></li>
        </ul>
      </div>
   </div> 
  </nav>         




    <div id="imagepgheader">
    <img alt="homeimg" src="images/darkblueprint.jpg" class="imgtesting">
    </div>

    <div class="container" id="contactcontainer">
     <!--  <div class="bodyp"> -->
        <h1 id="bodyh1"> Interested in a Consultation? </h1>
        <hr>
      <form>
        <fieldset class="form-group">
          <label for="exampleInputName">Name</label>
          <input type="name" class="form-control" id="exampleInputPassword1" placeholder="ex. Jane Doe">
        </fieldset>

        <fieldset class="form-group">
          <label for="exampleInputEmail1">Email Address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ex. janedoe@gmail.com">
        </fieldset>

          <fieldset class="form-group">
          <label for="exampleInputEmail1">Subject</label>
          <input type="email" class="form-control" id="subject" placeholder="Subject">
        </fieldset>

        <fieldset class="form-group">
          <label for="exampleTextarea">Message</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </fieldset>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <h1 id="bodyh1">Contact Information</h1>
      <hr>
        <container id="address">
          <h2 id="contacttitle">Goldfarb Educational Consulting</h2>
          <h4 id="contacttitle">Email: info@goldfarbedconsult.com</h4>
          <h4 id="contacttitle">Telephone: (855) 368-4763</h4>
          <h4 id="contacttitle">Address: 925 Catalina Ave. <br>
          Seal Beach CA, 90740</h4>
        </container>
    </div>    

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3317.47234747771!2d-118.10443568475068!3d33.74845798068969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd2fe5dc303a4b%3A0xc93b0a391041da5b!2s925+Catalina+Ave%2C+Seal+Beach%2C+CA+90740!5e0!3m2!1sen!2sus!4v1463725269600" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>


    <footer>
      <nav class="navbar navbar-default navbar-fixed-bottom" id="footer">
        <div class="container">
          <a href="">
          <img src="images/linkedin.png" id="linkedin" height="30px" width="30px" alt="linkedin">
          </a>
          <p>(e) info@goldfarbedconsult.com</p>
        </div>
      </nav>	
    </footer>