<div id="headimage3"></div>

<div class="container">
  <div class="bodytext">
    <h1 id="bodyh1"> Answers Within Your Reach </h1>
    <hr>
    <p >
      With so much changing in the field of education it’s difficult to stay on top of some of the critical information you need to be the best educator you can.  We’ve researched, sourced, vetted, and authored information about some of these critical issues, and below you’ll find a searchable store of information to help you stay current.  You can also use the form below to request that additional information be added to the InfoBank.
    </p>


    <button ng-click="topics=!topics;">Infobank</button>

    <!-- topics -->
    <div ng-show="topics">
      <ul>
        <li data-ng-attr-id="{{entry.id}}" ng-repeat="entry in data" ng-click="activate(entry)" 
        ng-class="{'selected': entry.selected}"><a>{{entry.title}}</a></li>
        <button ng-click="getAllSelectedRows()">Show Subtopics</button>
      </ul>
    </div>
    <!-- subtopics -->
    <div ng-show="subtopics">
      <ul>
      <div data-ng-attr-id="{{subtopics.id}}" ng-repeat="subtopics in subtopicData">
        <!-- <p>{{subtopics.subtopics}}</p> -->
        <h3>{{subtopics.title}}</h3>
        <li ng-repeat="entry in subtopics.subtopics" ng-class="{'selected': entry.selected}" ng-click="activate(entry)">
          <a>{{entry.subtopic}}</a>
        </li>
      </div>
        <button ng-click="getFinal()">Show Details</button>
      </ul>
    </div>

    <!-- details -->
    <div ng-show="details">
      <div data-ng-attr-id="{{subtopics.id}}" ng-repeat="subtopics in subtopicData">
        <!-- <p>{{subtopics.subtopics}}</p> -->
        <h3>{{subtopics.title}}</h3>
        <li ng-repeat="entry in subtopics.subtopics" ng-bind-html-unsafe="entry.response">
          <h3>{{entry.subtopic}}</h3>
          <p>{{entry.response}}</p>
        </li>
      </div>
    </div>
  </div>

</div>   


 <!--  <div class="bodytext2">
       <p>
       Looking for some you can’t find in the information bank? 
       Tell us what else you’re looking for, and add your contact informtation if you’d like us to contact you to clarify the request.
       </p>
  </div> -->

    <form>
    <input type="button" id="print-button" value="Print this Page" onClick="window.print()">
    </form>

  <div class="contactform">
    <form action="MAILTO:jgoldfarb@goldfarbedconsult.com" method="post" enctype="text/plain">
    Name<br>
    <input id="inputfield" type="text" name="name" value=""><br>
    Your E-mail<br>
    <input id="inputfield" type="text" name="mail" value=""><br>
    Message<br>
    <input id="inputfield2" type="text" name="comment" value=""><br><br>
    <button class="btn btn-primary" type="submit" value="Send">Send</button>
    </form>
  </div>

<!-- <footer>
  <nav class="navbar navbar-default navbar-fixed-bottom" id="footer">
    <div class="container">
      <a href="https://www.linkedin.com/m/profile/ACoAAACr6vABoLLCwRzrsx7Jk0wqT2pZGCzdyQ4/">
        <div id="linkedin"></div>
      </a>
      <p>(e) info@goldfarbedconsult.com</p>
    </div>
  </nav>  
</footer>
 -->
<script>
  $(function(){
  $(".dropdown-menu > li > a.trigger").on("click",function(e){
    var current=$(this).next();
    var grandparent=$(this).parent().parent();
    if($(this).hasClass('left-caret')||$(this).hasClass('right-caret'))
      $(this).toggleClass('right-caret left-caret');
    grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
    grandparent.find(".sub-menu:visible").not(current).hide();
    current.toggle();
    e.stopPropagation();
  });
  $(".dropdown-menu > li > a:not(.trigger)").on("click",function(){
    var root=$(this).closest('.dropdown');
    root.find('.left-caret').toggleClass('right-caret left-caret');
    root.find('.sub-menu:visible').hide();
  });
});
</script>

<style>
  .dropdown-menu>li
{ position:relative;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor:pointer;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  border-left-color:#fff;
  box-shadow:none;
}
.right-caret:after,.left-caret:after
 {  content:"";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
  margin-left:5px;
}
.right-caret:after
{ border-left: 5px solid #ffaf46;
}
.left-caret:after
{ border-right: 5px solid #ffaf46;
}
</style>