<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
      <div id="logo"></div>
      </a>
    </div>
 
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">      
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/infobank">InfoBank</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contactus">Contact Us</a></li>
        </ul>
      </div>
   </div> 
  </nav> 

<!--      <div id="imagepgheader">
        <img alt="homeimg" src="images/trees.jpg" class="imgtesting">
    </div> -->


    <div id="headimage3">
    </div>

    <div class="container">
      <div class="bodytext">
        <h1 id="bodyh1"> How can Goldbarb Educational Consulting help you? </h1>
        <hr>
        <p >
            <%= data %>

          With so much changing in the field of education it’s difficult to stay on top of some of the critical information you need to be the best educator you can.  We’ve researched, sourced, vetted, and authored information about some of these critical issues, and below you’ll find a searchable store of information to help you stay current.  Once you’ve filtered for the information you want, you can merely peruse or you can opt to print out in handy sheets.  You can also use the form below to request that additional information be added to the information store.
        </p>

       
        <form>
          <fieldset class="form-group">
          <input type="text" class="form-control" id="search" value="Search"><br>
           <button type="submit" class="btn btn-primary">Submit</button>
           </fieldset>
        </form>
      </div>
     </div>   

    <div id="bodyimage1">
    </div>

<div class="bodytext2">
     <p>
     Looking for some you can’t find in the information bank? 
     tell us what else you’re looking for, and add your contact informtation if you’d like us to contact you to clarify the request.
     </p>

</div>

<div class="contactform">
        <form action="MAILTO:jgoldfarb@goldfarbedconsult.com" method="post" enctype="text/plain">
        Name<br>
        <input id="inputfield" type="text" name="name" value=""><br>
        Your E-mail<br>
        <input id="inputfield" type="text" name="mail" value=""><br>
        Message<br>
        <input id="inputfield2" type="text" name="comment" value=""><br><br>
        <button class="btn btn-primary" type="submit" value="Send">Send</button>
        </form>
 </div>

    <footer>
        <nav class="navbar navbar-default navbar-fixed-bottom" id="footer">
          <div class="container">
              <a href="">
                <img src="images/linkedin.png" id="linkedin" height="30px" width="30px" alt="linkedin">
            </a>
            <p>(e) info@goldfarbedconsult.com</p>
          </div>
        </nav>  
      </footer> 