
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><div id="logo"></div></a>
    </div>

    <div class="navbar-collapse collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">      
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/infobank">InfoBank</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contactus">Contact Us</a></li>
      </ul>
    </div>
  </div> 
</nav>     


<div id="headimage2"></div>

<div class="container">
  <div class="bodyp">
    <h1 id="bodyh1"> Our Services </h1>
    <hr>
    
    <h2 id="bodyh2">Helping Educators...</h2>

    <ul>
      <li>  Define goals of elements of their instructional plan, including assessment programs, curriculum, and professional development;</li>
      <li>  Provide insight — and tools — to help meet the educational challenges to successfully transition to the College and Career Readiness Standards;</li>
      <li>  Evaluate instruction across curricular areas, including integration of the Next Generation Science Standards;</li>
      <li>  Identify existing resources to support implementations;</li>
      <li>  Build — and implement — effective plans to fill gaps in resources; and</li>
      <li>  Ensure those plans help improve instruction and student performance.</li>
    </ul>

    <h2 id="bodyh2">Helping Product Providers...</h2>

    <ul>
      <li>  Identify market​ opportunities, including sizing of the market, identification of target segments, and distribution models to reach those segments;</li>
      <li>  Evaluate product and service offerings to ensure they provide maximum educational value;</li>
      <li>  Compare offerings to others in the market to ensure real differentiated value is being provided;</li>
      <li>  Hel​p plan ongoing product and service development to meet the needs of educators today — and tomorrow;</li>
      <li>  Ensure those products and services help improve instruction — and student performance.</li>
    </ul>
    <br>
    <br>
    <br>
  </div>	 	
</div>


<footer>
  <div class="container" id="footer">
    <hr>
    <a href="https://www.linkedin.com/m/profile/ACoAAACr6vABoLLCwRzrsx7Jk0wqT2pZGCzdyQ4/">
      <div id="linkedin"></div>
    </a>
    <p>(e) info@goldfarbedconsult.com</p>
  </div>
</footer>