
#aboutp {
	
	margin-bottom: 200px;
}
.img-circle {
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 300px;
	background-image: url("../images/goldfarbcircle.png");
	background-repeat: no-repeat; 
	text-align: center;
/*	box-shadow: 1px 1px 10px 0px #f7f7f7;*/
	
}

#maintext {
}