#address {
	font-family: 'Old Standard TT', serif;
	font-size: 20px;
}

#contactcontainer {
	margin-bottom: 25px;
}

#contactheaders {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

#contactinfo {
	text-align: center;
}

.btn {
	border-radius: 0px;
}

.form-control {
	border-radius: 0px;
}