
.btn {
	border-radius: 0px;
}
.form-control {
	border-radius: 0px;
}
.bodytext {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 300px;
	margin-bottom: 100px;
	margin-top: 30px;
	font-size: 20px;

}
.bodytext2 {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 100px;
	margin-top: 30px;
	font-size: 20px;

}

.panel {
	border-radius: 0px;
	box-shadow: #ffffff;
/*	background-color: #f7f7f7;*/
	font-size: 18px;
}
 .panel-heading {
 	font-size: 18px;
 }
.panel-default {
/*	border-color: white;*/
}

.secondimg {
	width: 100%;
	height: 100%;
}

#secondimg {
	height: 600px;
	width: 100%;
	left: 0px; 
    top: 0px; 
    z-index: -1;
    margin-bottom: 100px;
}

.selected {
  border: 1px solid orange;
}

.infobank {
	margin: 20px 0px;
}

.infobank li{
	font-size: 18px;
	padding: 5px;
	width: 100%;
}

.infobank li:hover{
  font-weight: bold; 
  cursor: pointer;
  font-size: 18px;
  background: lightgray;
}

.infobank .selected li:hover {
	background: orange;
}

.infobank a:hover {
	text-decoration: none; 
}


@media screen and (max-width: 768px) {
		.bodytext2 {
		margin-left: 20px;
		margin-right: 20px;
		width: 90%;
	}

		.bodytext {
		margin-left: 20px;
		margin-right: 20px;
		width: 90%;
		height: 700px;
	}

}