@media print {
	#print-button {
		display: none;
	}
	.navbar-right {
		display: none;
	}
	#headimage3 {
		display: none;
	}

	.hidden-on-print {
		display: none;
	}

	p {
		font-size: 16px;
	}
	.contactform {
		display: none;
	}
	footer {
		display: none;
	}
}