/*general themes */
ul, li, p, body {	
	font-family: 'Old Standard TT', serif;
}
/*body {
	padding-top:  70px;
}*/
#bodyh1 {
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	text-align: center;
	color: #002B6F;
}

#bodyh2 {
	font-family: 'Oswald', sans-serif;
	font-size: 35px;

}



/*header*/
.navbar {
	height: 111px;
	background-color: rgba(222, 222, 222, 0.5);

}

#logo {
	background-image: url('../images/editedlogo.png');
	width: 308px;
	height: 75px;
	background-size: cover;
	margin-right: 0px;
	margin-top: 15px;
	margin-left: 20px;
}

a {
	color: #4A4A4A;
	font-size: 16px;
}

.navbar-right {
	padding-top: 30px;	
	margin-right: 20px;
}


/*bodyimages*/
#headimage1 {
	background-image: url('../images/pigtails.jpg');
	height: 400px;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-size: cover;
	background-attachment: fixed;
	
}

#headimage2 {
	background-image: url('../images/classroom.jpg');
	height: 400px;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-size: cover;
	background-attachment: fixed;
	
}

#headimage3 {
	background-image: url('../images/trees.jpg');
	height: 400px;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-size: cover;
	background-attachment: fixed;
	
}

#headimage4 {
	background-image: url('../images/sunrise.jpg');
	height: 400px;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-size: cover;
	background-attachment: fixed;
	
}
#headimage5 {
	background-image: url('../images/darkblueprint.jpg');
	height: 400px;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-size: cover;
	background-attachment: fixed;
	
}
#bodyimage1 {
	background-image: url('../images/light.jpg');
	height: 300px;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-size: cover;
	background-attachment: fixed;
	
}



.bodyp {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	/*height: 580px;*/
	margin-bottom: 100px;
	margin-top: 30px;
	font-size: 20px;
}



/*forms*/
#inputfield {
	width: 300px;
	margin-bottom: 10px;

}
#inputfield2 {
	width: 300px;
	height: 100px;
	margin-bottom: 15px;

}

.contactform {
	margin-left: 100px;
	margin-bottom: 100px;
	margin-top: 30px;
	font-size: 20px;
}
textarea {
	border-color: #cccccc;
}




/*footer*/
#linkedin {
	background-image: url('../images/linkedin.png');
	background-size: cover;
	height: 30px;
	width: 30px;
	margin-left: auto;
	margin-right: auto;
}


.navbar-fixed-bottom{
	height: 75px;
}

#footer {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
	padding-top: 15px;

}